* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video{
    width: 100%;
}

.header {
    z-index: 2;
}

.body {
    position: relative;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.body-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.body-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.3;
    z-index: 1;
}

.body-content {
    z-index: 1;
    margin: auto;
}

.body-h1 {
    font-size: 4rem;
    color: rgb(131, 160, 131);
}

.body-p {
    font-size: 2rem;
    color: whitesmoke;
}

.body-page-2-p-div {
    background-color: rgb(247, 241, 241);
}

.body-page-2-p {
    color:rgb(131, 160, 131);
    font-size: 3rem;
    padding: 4rem;
}

.body-page-2-img {
    padding: 3rem;
}