* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.left-content {
    width: 50%;
    background-color: gray;
    height: 300px;
    transform: translateY(150px);
    
}

.left-content h1 {
    padding-top: 50px;
    padding-left: 100px;
}

.left-content p {
    padding-top: 10px;
    padding-left: 100px;
}

.right-content {
    background-color: bisque;
    width: 50%;
}