.body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 270px;
	margin-top: 20px;
	column-gap: 20px;
	row-gap: 40px;
}


.v1 {
	background-color: pink;
}
.v2 {
	background-color: red;
}
.v3 {
	background-color: blue;
}
.v4 {
	background-color: red;
}
.v5 {
	background-color: blue;
}
.v6 {
	background-color: pink;
}
